* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

button {
  border-radius: 4px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 16px;
  text-decoration: none;
}

header {
  background-color: #C6E38F;
  height: 75px;
}

header .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header .top .btn-cart {
  background-color: #74ad5a;
}

header .top .btn-cart:hover {
  background: linear-gradient(to bottom, #4D6835 5%, #74ad5a 100%);
}

header .top .btn-cart:active {
  position: relative;
  top: 1px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  justify-items: center;
  justify-content: space-between;
  margin: 32px auto 48px;
}

.products .product-item {
  background: #FFFFFF;
  box-shadow: 8px 16px 20px 10px rgb(220 231 214);
  border-radius: 10px;
  padding: 48px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.products .product-item h3 {
  color: #3E9584;
  padding: 8px 0;
}

.products .product-item p {
  padding: 16px 0;
}

.products .product-item .buy-btn {
  background: #3E9584;
}